@{ViewData["Title"] = "CheckBox";}

<h1>Check Box</h1>

<form method="post">
    <p>@Html.CheckBox("State", false) IsSelected</p>
    <input type="submit" value="Submit" class="btn btn-light" style="border-color:lightgrey;">
</form>
